<!DOCTYPE html>
<html>
<head>
	<title>Touchpay</title>
	<link rel="stylesheet" type="text/css" href="/static/CSS/site.css">
	<link rel="stylesheet" type="text/css" href="/static/CSS/media.css">
</head>
<body>
	<div class="content_holder">
		<div class="title">
			<img src="/static/img/touchpay_final.png" alt="Touchpay Logo" id="logo">
		</div>
		<br />
		<div id="main_content_holder">
			<div class="main_content" id="intro_vid">
				<iframe id="pitch_video" src="//www.youtube-nocookie.com/embed/xFQoH0WsSmE?rel=0" frameborder="0" allowfullscreen></iframe>	
			</div>
			<div id="vertical_div">
				
			</div>
			<div class="main_content">
				<div class="section_content">
					<div class="content">
						<p>Insert Touchpay Intro Here</p>
					</div>
				</div>
				<div id="horizontal_div">
					
				</div>
				<div class="section_content">
					<div class="content">
						<form method="POST" action="/interested">
							<p>Interested? Sign up below to hear about future updates:</p>
							<input name="email" id="email" type="email"/>
							<input type="submit" id="submit"  value="Submit"/>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>

